# You can add a comments by starting a line with a hash (#) symbol. This line must be at the top of parameter.

#Basic info
APP_NAME = "EZAPI framework"
APP_VERSION = "1.0.0.0"

#Server config
DEFAULT_LOCALE = "en_US"
ENFORCE_SSL = true

#Database details
DB_HOST = "127.0.0.1"
DB_NAME = ""
DB_USER = ""
DB_PASSWORD = ""

#SMTP details, if the use_stmp is set to false the software will use the default php mail class to send emails.
USE_STMP = true
SMTP_HOST = ""
SMTP_USERNAME = ""
SMTP_PASSWORD = ""
SMTP_PORT = 
SMTP_AUTH_TOKEN = ""

#general config
ENFORCE_EMAIL_VALIDATION = true



