<!DOCTYPE html>
<html lang="@@locale@@">
    <head>
        <meta charset="@@charset@@">
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="Content-Type" content="text/html; charset=@@charset@@">
        <title>@@title@@</title>
        <style>
        
        </style>
    </head>
    <body>

        <span>@@preHeader@@</span>

        <table>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <!-- START CENTERED WHITE CONTAINER -->
                    <div>
                        <table>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                @@title@@
                                                @@body@@
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                         <!-- END MAIN CONTENT AREA -->

                        <!-- START FOOTER -->
                        <table>              
                            <tr>
                                <td>
                                    Powered by <a href='https://www.Nerdtrix.org' >Nerdtrix team @@year@@</a>
                                </td>
                            </tr>
                        </table>
                        <!-- END FOOTER -->
                    
                    </div>
                    <!-- END CENTERED WHITE CONTAINER -->

                </td>
                <td >&nbsp;</td>
            </tr>
        </table>
    </body>
</html>